* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    background-color: #f3f7f8;
}

.first-page {
    position: absolute;
    top: 45%;
    left: 45%;
    background-color: #8496a2;
    
}

.start-button {
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding: 20px 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #868f74;
    cursor: pointer;
}